# Configuration du site Physiothérapie

# Environnement (production ou development)
NODE_ENV=production

# Port d'écoute de l'application
PORT=4327
HOST=0.0.0.0

# Variables optionnelles pour le site
SITE_URL=https://physiokbnyon.ch
CONTACT_EMAIL=contact@physiokbnyon.ch

# Google Tag Manager (GTM)
GTM_ID=GTM-WNRKJDN7

# Google Analytics 4 (GA4) - ID de mesure
GA4_MEASUREMENT_ID=G-90D5SJC700
