/* Importation des directives Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importation de la police Inter (ou autre police moderne) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Styles de base pour le corps */
body {
  font-family: 'Inter', sans-serif;
}
