---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Stats from '../components/Stats.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import BookingForm from '../components/BookingForm';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const base = import.meta.env.BASE_URL;
const seoProps = {
  title: "PhysioKB - Cabinet de Physiothérapie à Nyon",
  description: "PhysioKB : Prenez soin de votre corps, durablement. Cabinet de physiothérapie à Nyon spécialisé en rééducation, thérapie manuelle et massage médical.",
  canonicalUrl: "https://kimo59sncf.github.io/site-vitrine-physio-astro/",
  keywords: "physiothérapeute Nyon, kinésithérapeute Suisse, PhysioKB, rééducation, thérapie manuelle, massage médical, drainage lymphatique",
  image: base + "/images/social-share.webp",
  isHomePage: true,
};
---

<Layout seo={seoProps}>
  <Header />
  <main class="flex-grow">
    <Hero />
    <Services />
    <About />
    <Stats />
    <Testimonials />
    <BookingForm client:load />
    <Contact />
  </main>
  <Footer />
</Layout>
